<h3>Basic Buttons</h3>
<div class="button-row">

  <button mat-button routerLink=".">Home</button>
  <button mat-button [routerLink]="'/task-list'">Task List</button>
  <button mat-button [routerLink]="'task/add'">Task Add</button>


</div>
<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <section class="example-section">
      <mat-progress-bar
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
